@import "tailwindcss";

:root{
  --primary: #0f766e;      /* Teal */
  --secondary: #14b8a6;    /* Light Teal */
  --text: #64748b;         /* Gray */
  --heading: #0f172a;      /* Dark */
  --background: #ffffff;   /* White */
  --primary-gradient: linear-gradient(
    135deg,
    #278981,
    #14b8a6
  );
}
body {
  font-family: 'Inter', sans-serif;
}
.line-clamp-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.backgroundcol{
  background: linear-gradient(
  135deg,
  #278981,
  #14b8a6
);
}